{% extends "base.html" %}

{% set DOMAIN = 'docs.tildes.net' %}

{% block header %}
  <a href="https://{{ DOMAIN }}">Tildes Docs</a>
{% endblock header %}

{% block title %}Tildes Docs{% endblock %}

{% block content %}
<p>This is the Tildes Docs site, which will eventually contain all sorts of official documentation-type pages, but right now it's barely started. There isn't much here yet, and even the pages that are here are very much in-progress.</p>

<p>That being said, there are still a few pages that you might be interested in reading, if you're looking for more information about Tildes:</p>

<ul>
  <li><strong><a href="/overall-goals">Overall Goals</a></strong> - covers some different goals than the ones in the <a href="https://blog.tildes.net/announcing-tildes">announcement post</a>.</li>
  <li><strong><a href="/technical-goals">Technical Goals</a></strong> - another list of goals, but on the more technical/implementation side of things. Talks a bit about technology that I'm using, the approach to open-sourcing, and some other details related to the more practical side of building the site.</li>
  <li><strong><a href="/mechanics">Mechanics</a></strong> - description of the basic mechanics currently present in the alpha, along with a bit of information about their purposes.</li>
  <li><strong><a href="/mechanics-future">Mechanics (Future)</a></strong> - information about some mechanics that are planned for the future.</li>
  <li><strong><a href="/faq">"Frequently Asked" Questions</a></strong> - random information about the site, formatted as answers to questions that nobody's actually asked yet. This is where almost everything that doesn't fit into the other sections is going to end up for now.</li>
</ul>
{% endblock %}

{% block pagelist %}
  <h2>Documents</h2>
  <ul>
  {% for page in pages %}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% if page.summary %}
      <p class="summary">{{ page.summary }}</p>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
{% endblock %}
